
.container{
    max-width: 1120px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}
.ad{
    margin: 92px auto auto auto;
    padding-left: 5px;
    h2{
        font-size: $fz_xl;
        color: $c_word;
        font-weight: bolder;
        margin-bottom: 16px;
        text-align-last: left;
    }
    p{
        font-size: $fz_s;
        color: $c_word;
    } 
}

.waper {
    width: 83.3333%;
    margin: 0 auto;
    margin-top: 280px;
    color: $c_word;
}
h2 {
    font-size: $fz_l;
    text-align: center;
    margin-bottom: 45px;
    font-weight: bolder;
}

.box_info {
    margin-bottom: 100px;

    ul {
        margin: 0 auto;
        margin-bottom: 43px;
        display: flex;
        justify-content: center;
        overflow-x: auto;
        li{
            flex-shrink:0;
        }
        a {
            display: block;
            text-decoration: none;
            font-family: Comfortaa;
            color: $c_main;
            text-align: center;
            font-size: $fz_m;
            padding: 10.5px 23.14px;
            margin: 5px 12px;
            background: #FFFFFF;
            border: 1px solid $c_main;
            border-radius: 27px;

            &:hover {
                background: $c_main;
                color: #FFFFFF;
            }
        }

    }

    .box_cost {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    .card {
        background: #FFFFFF;
        box-shadow: 0px 2px 10px $c_shadow;
        border-radius: 12px;
        width: 50%;
        max-width: 444px;
        min-height: 570px;

        h3 {
            font-size: $fz_m+6px;
            text-align: center;
            font-weight: bolder;
            padding: 10px 0 16px 0;
            border-bottom: 1px solid $c_gary;
        }

        p {
            font-size: $fz_s;
            text-align: center;
            margin: 32px auto;
        }

        .box_fee {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 32px;
            .box_fee_small {
                width: 169px;
                padding: 17px 24px;
                text-align: center;
                background: $c_bg_gray;
                border-radius: 12px;

                p {
                    font-size: $fz_xs;
                    margin: 0 0 8px 0;
                }

                .number {
                    color: $c_main;
                    font-size: $fz_l;
                    font-family: Comfortaa;
                    margin: 0;
                    display: inline-block;
                }

                sub {
                    color: $c_main;
                    font-size: $fz_xs;
                    font-weight: bolder;
                    margin-left: 8px;
                }

                .money {
                    color: $c_word;
                }

            }

            .equal {
                font-size: 29px;
                text-align: center;
                margin: 0 21px;
            }

        }
        ul{
           display: flex;
           flex-direction: column;
           margin: 0 29px;
            li{
                display: flex;
                margin-bottom: 16px;
            }
            img{
                width: 19.56px;
            }
            p{
                font-size: $fz_s;
                text-align: left;
                margin: 0 0 0 12.94px;
            }
        }
        a{
            width: 138px;
            display: block;
            text-decoration: none;
            color: #FFFFFF;
            text-align: center;
            font-size: $fz_m;
            padding: 12px 32px;
            margin: 32px auto;
            margin-top: 16px;
            background: $c_main;
            border: 1px solid $c_main;
            border-radius: 27px;

            &:hover {
                color: $c_main;
                background: #FFFFFF;
            }
        }
    }


}

.box_QA{
    margin-bottom: 100px;
    ul{
        width: 100%;
    }
    li{
        // padding: 16px 32px;
        margin-bottom: 16px;
        background: #FFFFFF;
        box-shadow: 0px 2px 10px $c_shadow;
        border-radius: 12px;
        &:hover{
            background: $c_bg_gray;
        }
    }
    .btn_QA{
        display: flex;
        justify-content: space-between;
        text-decoration: none;  
        font-size: $fz_m;
        color: $c_word;
        padding: 16px 32px;
       
        img{
            width: 20px;
        }
        .less{
            display: none;
        }
    }
    p{
        padding: 0 32px 16px 32px;
        font-size: $fz_s;
        color: $c_word_gray;
        margin: 6px 0 16px 0;
        display: none;

    }
    .active{
        color: $c_main;
        background: $c_bg_gray;
        font-weight: bolder;
    }
}

@media screen and (max-width:768px) {
    .waper{
        width: 90%;
    }

    .box_info{
        .box_cost{
            flex-direction: column;
            align-items: center;
            margin-bottom: 0px;
        }
        .card{
            width: 100%;
            max-width: 750px;
            min-height: 515px;
            margin-bottom: 24px;
        }
    }
    
}

@media screen and (max-width:450px) {

    .container{
        max-width: 367px;
        margin: 0 auto;
        padding-left: 16px;
        padding-right: 16px;
        
    }
   
    .ad{
        margin: 48px 5px auto 20px;
        h2{
            font-size: $fz_l;
        }
    }

    .waper{
        margin: 421px auto auto auto;
        width: 100%;        
    }
    h2{
        font-size: $fz_m+10px;
        margin-bottom: 24px;
    }
    .box_info{
        margin-bottom: 36px;
        ul{
            margin-bottom: 29px;
            a{
                font-size: $fz_s;
                margin: 3px;
                padding: 7px 14.7px;
            }
        }
        .card{
            max-width: 335px;
            min-height: 515px;
            margin-bottom: 24px;
            P{
                margin: 24px auto;
            }
            .box_fee{
                margin-bottom: 27px;
                .box_fee_small{
                    width: 139px;
                    padding: 12px 24px;
                    .number{
                        font-size: $fz_s+10px;
                    }
                    sub{
                        margin-left: 4px;
                    }
                }
                .equal{
                    font-size: 24px;
                    margin: 0 5.835px;
                }
            }
            ul{
                margin: 0 16px;
                li{
                    margin-bottom: 16px;
                }
                img{
                    width: 16px;
                }
                p{
                    font-size: $fz_xs+2px;
                    margin: 0 0 0 16px ;
                }
            }
            a{
                padding: 10px 31px;
                margin: 24px auto;
                margin-top: 19px;
            }
        }
    }
    .box_QA{
        margin-bottom: 60px;
        h2{
            margin-bottom: 32px;
        }
        .btn_QA{
            font-size: $fz_s;
            padding: 16px;
            
            img{
                width: 16px;
            }
        }
        p{
            padding: 0 16px 24px 16px;
        }
    }





}
