/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* cssstart */
/* 常用css */
/* 
*{outline: solid;
} */

*,*::before,*::after{
    box-sizing: border-box;
}
img{
    width: 100%;
    height: auto;
    display: block;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body{
    font-family: Noto Sans TC, PingFangTC-Semibold, sans-serif;
}

/* 以下開始正文設計 */

body{
    background: url("../img/bg_home.svg");
    background-repeat: no-repeat;
    background-position:right top;
}
.backtop {
    position: fixed;
    width: 70px;
    background-color: #56C4C5;
    border-radius: 50%;
    font-weight: bolder;
    text-align: center;
    color: #fff;
    padding: 27px 0;
    text-decoration: none;
    z-index: 299;
    right: 48px;
    bottom: 24px;
}

.navbar{
    max-width: 1088px;
    display: flex;
    justify-content: space-between;
    margin: 24px auto;
}
.navbar h1{
    width: 218.06px;
    
}
.navbar img{
    width: 218.06px;
}

.plan{
    display: block;
    width: 128px;
    background-color: #FF5D50;
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
    line-height: 1.5rem;
    border-radius: 22px;
    text-align: center;
    padding: 8px 0px;
}

.plan:hover{
    background-color: #FFFFFF;
    color: #FF5D50;
}

.ad{
    margin: 0 auto;
    margin-bottom: 217px;
    display: flex;
    justify-content: space-between;
    max-width: 1085PX;
}
.ad .left{
    margin: 158px 0 157px 0;
    max-width: 553px;
}
.ad .left h3{
    font-size: 18px;
    color: #56C4C5;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 8px;
}
.ad .left h2{
    font-size: 48px;
    color: #221E1F;
    font-weight: bolder;
    line-height: 1.458;
    margin-bottom: 16px;
}
.ad .left p{
    font-size: 20px;
    color: #221E1F;
    line-height: 1.4;    
}
.ad .right{
    width: 100%;
}
.ad .right img{
    height: 534px;
}

.media {
    margin: 0 auto;
    margin-bottom: 100px;
    max-width: 969px;
}

.media h2{
    font-size: 32px;
    line-height: 1.44;
    color: #221E1F;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 48px;
}
.media ul{
    display: flex;
    justify-content: space-between;
}
.media ul li{
    text-align: center;    
}
.media ul li img{
    width: 90px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 24px;
}
.media h3{
    font-size: 24px;
    color: #221E1F;
    line-height: 1.5;
    font-weight: bolder;
    margin-bottom: 24px;
}
.media p{  
    font-size: 16px;
    color: #747474;
    line-height: 1.5;
}

.role{
    max-width: 1088px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.role h2{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    color: #221E1F;
    margin-bottom: 16px;    
}
.role h3{
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    color: #221E1F;
    margin-bottom: 48px;
}
.role ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.role ul li{
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    width: 260px;
    background-color: #FFFFFF;
}
.role ul li img{
    border-radius: 12px 12px 0px 0px;
    margin-bottom: 16px;
}
.role h4{
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    color: #56C4C5;
    margin-bottom: 16px;
}
.role p{
    font-size: 16px;
    line-height: 1.5;
    color: #221E1F;
    margin-bottom: 24px;
}

.feature{
    max-width: 1039px;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.feature ul{
    max-width: 554px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.feature li{
    width: 230px;
    margin: 0 47px 28px 0;
    padding: 32px 32px 48px 32px;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    background-color: #FFFFFF;
}
.feature .rad_img{
    width: 86px;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 2px 10px #00000014;
    padding: 17px;
    margin-bottom: 24px;
}
.feature img{
    width: 52px;
}
.feature h3{
    font-size: 18px;
    line-height: 1.5;
    font-weight: bolder;
    color: #221E1F;
    margin-bottom: 16px;
}
.feature p{
    font-size: 16px;
    line-height: 1.5;
    color: #221E1F;
}
.feature .right{
    max-width: 395px;
    margin: 165px 0;
}
.feature .right h2{
    width: 256px;
    font-size: 32px;
    line-height: 1.5;
    font-weight: bolder;
    color: #221E1F;
    margin-bottom: 16px;
}
.feature .right h3{
    width: 400px;
    font-size: 18px;
    line-height: 1.5;
    color: #221E1F;
    margin-bottom: 24px;
}
.plan_l{
    font-size: 18px;
    width: 136px;
    background-color: #56C4C5;
    border: #56C4C5 solid 1px;
    border-radius: 27px;
    padding: 11.5px 0px
}
.plan_l:hover{
    color: #56C4C5;
}

.good{
    max-width: 1088px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.good h2{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    color: #221E1F;
    margin-bottom: 104px;     
}
.good ul{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}
.good li{
    max-width: 352px;
    padding: 0 32px;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    font-size: 16px;
    color:#221E1F;
    position: relative;
    background-color: #FFFFFF;
}
.good .shot{
    width: 80px;
    box-shadow: 0px 2px 10px #00000014; 
    border-radius: 80px;
    position: absolute;
    top: -56px;
    margin-bottom: 24px;
}
.good p{
    padding-top: 48px;
    padding-bottom: 24px;
    border-bottom: 1px solid #DDDDDD;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 24px;
}
.good h3{
    font-weight: bolder;
    margin-bottom: 8px;
}
.good .star{
    width: 100%;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}
.good .starimg{
    display: flex;
    justify-content: space-between;
    width: 121.02px;
}
.good .starimg img{
    width: 16.78px;
}
.slide{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.circle{
    background-color: #DDDDDD;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
}
.rectangle{
    background-color: #FFD153;
    width: 16px;
    height: 10px;
    border-radius: 50px;
}

.footer{
    background: url("../img/home_footer.svg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center 0;
    text-align: center;
    padding-top: 384px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer h2{
    font-size: 32px;
    line-height: 1.5;
    color: #221E1F;
    font-weight: bolder;
    margin-bottom: 48px;
}
.footer .plan_l{
    margin-bottom: 100px;
}
.copyright{
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    padding: 20px;
    color: #221E1F;
    background-color: #F5F5F5;
}

@media screen and (max-width:377px) {
    body{
        background: url("../img/bg_home_sm.svg");
        background-repeat: no-repeat;
        background-size: 334px;
        background-position: center 391.21px;
    }
    .backtop{
        width: 50px;
        height: 50px;
        bottom: 16px;
        right: 16px;
        font-size: 14px;
        padding: 18px 0;
    }
    .navbar{
        max-width: 375px;
        border-bottom: 2px solid #FFD153;
        padding: 16px 20px;
        margin: 0 auto;

    }
    .navbar h1{
        width: 130.84px;
        
    }
    .navbar img{
        width: 130.84px;
        margin: 8px 0;
    }
    .ad{
        max-width: 335px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
    }
    .ad .left{
        margin: 32px auto;
    }
    .ad .left h3{
        font-size: 16px;
    } 
    .ad .left h2{
        font-size: 32px;
    } 
    .ad .left p{
        font-size: 16px;
    }
    .ad .right img{
        height: 305px;
        margin-bottom: 38.5px;
    }
    
    .media{
        max-width: 335px;
        margin-bottom: 60px;
    }
    .media h2{
        font-size: 28px;
        margin-bottom: 32px;
    }
    .media ul{
        flex-direction: column;
        align-items: center;
    }
    .media ul li img{
        width: 60px;
        margin-bottom: 16px;
    }
    .media h3{
        font-size: 18px;
        margin-bottom: 16px;
    }
    .media p{
        font-size: 16px;
        margin-bottom: 24px;
    }
    
    .role{
        max-width: 335px;
        margin-bottom: 60px;
    }
    .role h2{
        font-size: 28px;
        margin-bottom: 16px;
    }
    .role h3{
        font-size: 18px;
        margin-bottom: 32px;
    }
    .role ul{
        flex-direction: column;
        align-items: center;
    }
    .role ul li{
        margin-bottom: 24px;
        max-width: 260px;
    }

    .feature{
        max-width: 335px;
        margin-bottom: 36px;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;

    }
    .feature .right{
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 32px;
    }
    .feature ul{
        flex-direction: column;
        align-items: center;
    }
    .feature .right h2{
        width: 100%;
        font-size: 28px;
    }
    .feature .right h3{
        width: 100%;
        font-size: 16px;   
        margin-bottom: 16px;                  
    }
    .feature li{
        margin: 0 0 24px 0;
    }

    .good{
        max-width: 335px;
        margin-bottom: 60px;
    }
    .good h2{
        font-size: 28px;
        margin-bottom: 88px;
    }
    .good .slide_card{
        display: none;
    }
    .good li{
        max-width: 335px;
        padding: 0 16px;
        box-shadow: 0px 2px 10px #00000014;
        border-radius: 12px;
        font-size: 16px;
    }
    .good p{
        margin-bottom: 16px;
    }
    .good h3{
        font-weight: bolder;
        margin-bottom: 8px;
    }
    .good .slide{
        margin-bottom: 60px;
    }

    .footer{
        background: url("../img/footer_sm.svg");
        background-repeat: no-repeat;
        padding-top: 293px;
    }
    .footer h2{
        font-size: 24px;
        margin-bottom: 24px;
    }
    .footer .plan_l{
        margin-bottom: 60px;
    }    
}
